<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="/css/formulario.css">
    <%- include('partials/head') %>

</head>
<%- include('partials/navigation') %>

<body>
    <div class="container">
        <!-- Columna del formulario -->
        <div class="form-column">
            <h1>Contáctanos</h1>
            <form action="https://formsubmit.co/267af5fa972c82aa31ad1f22ee3f614b" method="POST" />
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit">Enviar mensaje</button>

                <input type="hidden" name="_next" value="htpp://localhost:4000/contact">
                <input type="hidden" name="_captcha" value="false">
            </form>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Lujozo"
  agent-id="784c8147-c43e-49f4-be05-1f0aa968fd99"
  language-code="es"
></df-messenger>
        </div>
    
        <!-- Columna de la imagen -->
        <div class="image-column">
            <img src="/img/imagen_modelo.jpg" alt="Logo de Reload">
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2025 Reload. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <p class="mt-2">
            <a href="#" class="text-white text-decoration-none">Política de Privacidad</a> | 
            <a href="#" class="text-white text-decoration-none">Términos y Condiciones</a>
        </p>
    </footer>
</body>
</html>