<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reload</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cards.css">
</head>
<%- include('partials/navigation') %>

<body>
    <main>
        <section class="hero">
        </section>
        <section class="products container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/chaqueta.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">The North Face Chamarra</h5>
                            <p class="card-text">Diseñada para acompañarte en todas tus aventuras</p>
                            <p>S/279.92</p>
                            <a href="/infochaqueta" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/short.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Short Ecko Unltd</h5>
                            <p class="card-text">Short de la marca Ecko Unltd para usar de manera deportiva o casual.</p>
                            <p>S/96.16</p>
                            <a href="/infoshort" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/polo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Polo Manga Corta Algodón</h5>
                            <p class="card-text">Algodón puro, garantizando suavidad, frescura y comodidad.</p>
                            <p>S/ 89.90</p>
                            <a href="/infopolo" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/polo_nike.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Polo Nike Sportswear Club</h5>
                            <p class="card-text">100% algodón, brindando una textura suave y transpirable para uso diario.</p>
                            <p>S/79.90.</p>
                            <a href="/infopolonike" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/chaqueta_bomber.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Chaqueta Bomber</h5>
                            <p class="card-text">100% poliéster, lo que garantiza resistencia, ligereza y durabilidad.</p>
                            <p>S/98.00</p>
                            <a href="/infochaquetabomber" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/short.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Short Algodón Hombre</h5>
                            <p class="card-text">Short de jogging ideal para actividades deportivas o uso casual.</p>
                            <p>S/34.95</p>
                            <a href="/infoshortalgodon" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/jean.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Baggy Jean</h5>
                            <p class="card-text">Estos jeans ofrecen un corte suelto con un dobladillo cónico, combinando </p>
                            <p>S/179.00</p>
                            <a href="/infojean" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/jean_2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Athletic Straight Jean</h5>
                            <p class="card-text">El Athletic Straight Jean ofrece un corte recto con mayor espacio en los muslos</p>
                            <p>S/96.16</p>
                            <a href="/infojean2" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/buzo1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buzo Conjunto Deportivo</h5>
                            <p class="card-text">Conjunto deportivo de la reconocida marca Adidas</p>
                            <p>S/190.16</p>
                            <a href="/infobuzo1" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/buzo2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buzo de hombre </h5>
                            <p class="card-text">Frisa invisible con acabado microesmerilado con bolsillos laterales</p>
                            <p>S/80.16</p>
                            <a href="/infobuzo2" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/gorra.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Gorra Horizons O'Neill</h5>
                            <p class="card-text">Gorra de la marca O'Neill con diseño clásico y logo frontal</p>
                            <p>S/20.00</p>
                            <a href="/infogorra" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <img src="/img/fondo_marca.png" class="card-img-top" alt="Large Image">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>