<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/short.png" alt="Short Algodón Hombre">
        </div>
        <div class="producto-detalles">
            <h2>Short Algodón Hombre</h2>
            <p>El Short de Algodón para Hombre está confeccionado en material suave y transpirable, ideal para climas cálidos. Con un diseño cómodo y moderno, ofrece libertad de movimiento y un ajuste perfecto, siendo una opción excelente para actividades al aire libre o un look relajado.</p>
            <ul>
                <li><strong>Color:</strong> Azul Oscuro</li>
                <li><strong>Tamaño:</strong> S , M</li>
                <li><strong>Precio:</strong> S/34.95</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>