<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/buzo2.jpg" alt="Gorra Horizons O'Neill">
        </div>
        <div class="producto-detalles">
            <h2>Buzo de hombre</h2>
            <p>ideal para actividades físicas o uso casual. Fabricado con materiales de alta calidad que brindan comodidad y durabilidad.</p>
            <ul>
                <li><strong>Color:</strong> Negro</li>
                <li><strong>Tamaño:</strong> S , M</li>
                <li><strong>Precio:</strong> S/80.16</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>