<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/polo_nike.png" alt="Polo Nike Sportswear Club">
        </div>
        <div class="producto-detalles">
            <h2>Polo Nike Sportswear Club</h2>
            <p>El Polo Nike Sportswear Club es una prenda deportiva de alta calidad, fabricada con algodón suave para ofrecer comodidad durante todo el día. Su diseño clásico presenta el logo de Nike en el pecho, y su ajuste regular lo convierte en una opción ideal para un look relajado y activo.</p>
            <ul>
                <li><strong>Color:</strong> Azul Oscuro</li>
                <li><strong>Tamaño:</strong> S , M</li>
                <li><strong>Precio:</strong> S/79.90.</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>