<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/polo.png" alt="Polo Manga Corta Algodón">
        </div>
        <div class="producto-detalles">
            <h2>Polo Manga Corta Algodón</h2>
            <p>El Polo Manga Corta 100% Algodón está confeccionado en algodón de alta calidad, lo que garantiza comodidad y transpirabilidad. Con un corte clásico y disponible en varios colores, es perfecto para un look casual y versátil en cualquier ocasión.</p>
            <ul>
                <li><strong>Color:</strong> Negro</li>
                <li><strong>Tamaño:</strong> S , M</li>
                <li><strong>Precio:</strong> S/ 89.90</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>