<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/chaqueta_bomber.png" alt="Chaqueta Bomber">
        </div>
        <div class="producto-detalles">
            <h2>Chaqueta Bomber</h2>
            <p>La chaqueta bomber es una prenda de corte ajustado en los pu침os y el cuello, con un estilo casual y moderno. Originalmente dise침ada para pilotos, ahora es un b치sico de moda, ideal para agregar un toque de estilo urbano, con materiales resistentes y forro acolchado para mayor comodidad.</p>
            <ul>
                <li><strong>Color:</strong> Verde Oscuro</li>
                <li><strong>Tama침o:</strong> S , M</li>
                <li><strong>Precio:</strong> S/98.00</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>