<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/short.jpg" alt="The North Face Chamarra Deportiva">
        </div>
        <div class="producto-detalles">
            <h2>Short Ecko Unltd</h2>
            <p>Este short deportivo combina estilo y comodidad con un diseño moderno y urbano. Fabricado en algodón de alta calidad, ofrece una sensación suave al tacto y gran durabilidad. Presenta el icónico logotipo de Ecko Unltd. en letras grandes a lo largo de la pierna izquierda, acompañado de un detalle de línea roja que agrega un toque dinámico. Ideal para actividades casuales, entrenamientos o simplemente relajarte con estilo.</p>
            <ul>
                <li><strong>Color:</strong> Negro</li>
                <li><strong>Tamaño:</strong> S, M</li>
                <li><strong>Precio:</strong> S/96.16</li>
            </ul>
        </div>
    </main>
    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2025 Reload. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" class="text-white mx-2">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <p class="mt-2">
            <a href="#" class="text-white text-decoration-none">Política de Privacidad</a> | 
            <a href="#" class="text-white text-decoration-none">Términos y Condiciones</a>
        </p>
    </footer>
</body>
</html>