<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Producto</title>
    <link rel="stylesheet" href="/css/info_prendas.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="producto-container">
        <div class="producto-imagen">
            <img src="/img/jean.png" alt="Baggy Jean">
        </div>
        <div class="producto-detalles">
            <h2>Baggy Jean</h2>
            <p>El Baggy Jean ofrece un corte holgado y relajado, proporcionando máxima comodidad y un estilo vintage. Su diseño amplio en las piernas es perfecto para quienes buscan un ajuste suelto y moderno, ideal para un look casual y desenfadado.</p>
            <ul>
                <li><strong>Color:</strong> Gris</li>
                <li><strong>Tamaño:</strong> S , M</li>
                <li><strong>Precio:</strong> S/179.00</li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>