<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Reload</title>
    <link rel="stylesheet" href="/css/sobre_nosotros.css">
    <%- include('partials/head') %>
</head>
<%- include('partials/navigation') %>
<body>
    <main>
        <section>
            <h2>¿Qué es Reload?</h2>
            <p>Reload es una marca de ropa que fusiona estilo urbano y funcionalidad, ofreciendo chaquetas, jeans, polos, shorts, gorras y buzos diseñados para quienes buscan comodidad sin comprometer el estilo. Inspirados en la energía de las calles y las tendencias globales, nuestras prendas están pensadas para acompañarte en cada desafío de tu día.</p>
            <img src="/img/hombre_modelo.png" alt="Imagen descriptiva de Reload">
        </section>
        <section>
            <h2>Nuestra Misión</h2>
            <p>Ser la marca de referencia para los jóvenes y adultos que buscan ropa moderna, duradera y accesible, promoviendo la autenticidad y la confianza a través de diseños que se adaptan a cualquier estilo de vida.</p>
            <img src="/img/modelo.png" alt="Equipo trabajando en su misión">
        </section>
        <section>
            <h2>Nuestros Valores</h2>
            <ul>
                <li><strong>Autenticidad:</strong> Celebramos la individualidad y expresamos creatividad en cada diseño.</li>
                <li><strong>Calidad:</strong> Garantizamos prendas duraderas y confeccionadas con los mejores materiales.</li>
                <li><strong>Comunidad:</strong> Fomentamos un sentido de pertenencia, conectando con nuestros clientes y apoyando sus pasiones.
                </li>
            </ul>
            <img src="/img/hombre2.png" alt="Valores de Reload representados">
        </section>        
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>