<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reload</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cards.css">
</head>
<%- include('partials/navigation') %>

<body>
    <main>
        <section class="hero">
        </section>
        <section class="products container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/polo_nike.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Polo Nike Sportswear Club</h5>
                            <p class="card-text">100% algodón, brindando una textura suave y transpirable para uso diario.</p>
                            <p>S/79.90</p>
                            <a href="/infopolonike" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/polo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Polo Manga Corta Algodón</h5>
                            <p class="card-text">Algodón puro, garantizando suavidad, frescura y comodidad.</p>
                            <p>S/89.90</p>
                            <a href="/infopolo" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>