<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reload</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cards.css">
</head>
<%- include('partials/navigation') %>

<body>
    <main>
        <section class="hero">
        </section>
        <section class="products container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/jean.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Baggy Jean</h5>
                            <p class="card-text">Estos jeans ofrecen un corte suelto con un dobladillo cónico, combinando </p>
                            <p>S/179.00</p>
                            <a href="/infojean" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/jean_2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Athletic Straight Jean</h5>
                            <p class="card-text">El Athletic Straight Jean ofrece un corte recto con mayor espacio en los muslos</p>
                            <p>S/96.16</p>
                            <a href="/infojean2" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>