<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reload</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cards.css">
</head>
<%- include('partials/navigation') %>

<body>
    <main>
        <section class="hero">
        </section>
        <section class="products container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/buzo1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buzo Conjunto Deportivo</h5>
                            <p class="card-text">Conjunto deportivo de la reconocida marca Adidas</p>
                            <p>S/190.16</p>
                            <a href="/infobuzo1" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/img/buzo2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buzo de hombre</h5>
                            <p class="card-text">Frisa invisible con acabado microesmerilado con bolsillos laterales</p>
                            <p>S/80.16</p>
                            <a href="/infobuzo2" class="btn btn-primary">Mas informacion</a>
                        </div>
                    </div>
                </div>