.hero {
    text-align: center;
    margin: 20px 0;
}

.products .card {
    margin-bottom: 30px;
}

.card-img-top {
    height: 300px; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    color: black;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    color:  #a0a4a7;
}

