.prenda-info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.prenda-imagen {
    flex: 1;
    padding-right: 20px;
}

.prenda-imagen img {
    max-width: 100%;
    height: auto;
}

.prenda-detalles {
    flex: 1;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 768px) {
    .prenda-info {
        flex-direction: column;
        text-align: center;
    }

    .prenda-imagen {
        padding-right: 0;
        margin-bottom: 20px;
    }
}