<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #33389b">
    <div class="container-fluid">
      <a 
      href="/" 
      class="navbar-brand mb-0 h1" >
        <img class="d-inline-block align-top" 
        src="/img/reload.png" width="140" height="45" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contactanos</a>
          </li>
          <li class="nav-item dropdown">
            <a href="/about" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Catalogo
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/chaqueta">Chaqueta</a></li>
                <li><a class="dropdown-item" href="/chaqueta">Chaqueta</a></li>
                <li><a class="dropdown-item" href="/chaqueta">Chaqueta</a></li>
                <li><a class="dropdown-item" href="/chaqueta">Chaqueta</a></li>
            </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/informacion">Sobre Nosotros</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Regístrate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>